html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #353198;
}

.outer {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.tcell {
  display: table-cell;
  vertical-align: middle;
}

.jacketa {
  position: relative;
  width: 180px;
  height: 180px;
  cursor: pointer;
  border-radius: 50%;
  background: #130e85;
  border: 3px solid #f91f6e;
  box-shadow: 0 0 20px 2px #f9066bf7;
  box-sizing: border-box;
}

.jacketa .coversvg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.jacketa .coversvg {
  width: 70px;
  height:75.4px;
  fill: none;
  stroke-width: 4px;
  stroke-miterlimit: 10;
}

.jacketa .coversvg .back {
  stroke: #000;
  opacity: 0.15;
}

.jacketa .coversvg .front {
  stroke: #08f9ff;
  stroke-dasharray: 150;
  stroke-dashoffset: 1500;
  animation: draw 20s infinite linear, flicker-1 2s linear 2s infinite both;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

.container {
  width: 936px;
  padding: 25px;
  overflow: hidden;
  margin: 100px auto;
  border-radius: 25px;
  border: 2px solid #0059dd;
  background: #000000;
}

 .container .container-top {
  position: relative;
  height: 310px;
  margin: 0 0 45px 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  background: url("https://i.imgur.com/jEMIULl.jpg") no-repeat 0 0;
  background-size:cover;
}


.container-left-video {
  margin: 0;
  float: left;
}

.container-right-video {
  float: right;
}

.container-left-video .jacket-left,
.container-right-video .jacket-right {
  background: url("https://i.imgur.com/fzdYu8g.jpg") no-repeat 0 0;
  background-size: 100% 200%;
 
}

.container-right-video,
.container-left-video {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container-left-video .jacket-left {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-left: 183px;
}

.container-left-video .jacket-left .circle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #0059dd;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.container-left-video .jacket-left .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 38px;
  height: 22px;
  fill: #0059dd;
}

.container-left-video .jacket-left .circle:hover {
  border: 1px solid red;
  transform: scale(1.1);
}

.container-left-video .jacket-left .circle:hover .play {
  fill: red;
}

.container-left-video .wrap-left {
  position: relative;
  width: 424px;
  height: 239px;
  margin-left: 13px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
}

.container-left-video .wrap-left iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 238px;
  cursor: pointer;
}

.container-right-video .jacket-right {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-right: 183px;
  background-position: 0 -80px;
  background-size: 100% 200%;
}

.container-right-video .jacket-right .circle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #0059dd;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.container-right-video .jacket-right .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 38px;
  height: 22px;
  fill: #0059dd;
}

.container-right-video .jacket-right .circle:hover {
  border: 1px solid red;
  transform: scale(1.1);
}

.container-right-video .jacket-right .circle:hover .play {
  fill: red;
}

.container-right-video .wrap-right {
  position: relative;
  width: 424px;
  height: 239px;
  margin-right: 13px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
}

.container-right-video .wrap-right iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 238px;
  cursor: pointer;
}

.container-left {
  float: left;
  margin: 0;
}

.container-right {
  float: right;
}

.container-left .wrapa {
  position: relative;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-left .wrapa.active {
  background: #ffffff;
}

.container-left .wrapa.active::before,
.container-left .wrapa.active::after {
  content: "";
  position: absolute;
  top: 0;
  width: 198px;
  height: 100%;
}

.container-left .wrapa.active::before {
  left: 0;
  background-color: #00ffff;
}

.container-left .wrapa.active::after {
  right: 0;
  background-color: #ff00ff;
}

.container-left .wrapa .play,
.container-left .wrapa .pause {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  fill: #aa00ff;
}

.container-left .wrapa .pause {
  fill: #000000;
}

.container-left .wrapa .lines::before,
.container-left .wrapa .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 198px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-left .wrapa .lines::after {
  left: 399px;
}

.container-left .jacketc {
  position: relative;
  height: 344px;
  cursor: pointer;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  background: url("https://i.imgur.com/gI9vM6E.jpg") no-repeat 0 0;
  background-size:cover;
}

.container-left .jacketc .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #fa33fc;
}

.container-left .jacketc .lines::before,
.container-left .jacketc .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 198px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-left .jacketc .lines::after {
  left: 399px;
}

.container-left .wrapg {
  position: relative;
  height: 344px;
  margin: 45px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-left .wrapg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 338px;
  cursor: pointer;
}

.container-left .wrapg .lines::before,
.container-left .wrapg .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 198px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-left .wrapg .lines::after {
  left: 399px;
}

.container-left .jacketd {
  position: relative;
  width: 606px;
  height: 606px;
  cursor: pointer;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-left .jacketd,
.container-left .wraph {
  background: url("https://i.imgur.com/baApP9x.png") no-repeat 0 0;
 background-size: 100% 200%;
}

.container-left .jacketd .coversvg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

.container-left .jacketd .coversvg path {
  fill: none;
  stroke: #08f9ff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.container-left .jacketd .lines::before,
.container-left .jacketd .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 198px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-left .jacketd .lines::after {
  left: 399px;
}

.container-left .wraph {
  position: relative;
  width: 606px;
  margin: 45px 0 0 0;
  overflow: hidden;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  background-position: 0 -600px;
  background-size: 100% 200%;
}

.container-left .wraph .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-left .wraph .nav li {
  margin: 0;
  padding: 0;
  float: left;
}

.container-left .wraph .nav li {
  float: left;
  width: 198px;
  height: 198px;
  margin: 0 0 3px 0;
  background: rgba(0, 0, 0, 0.2);
}

.container-left .wraph .nav li:nth-of-type(3n+2) {
  margin: 0 3px 0 3px;
}

.container-left .wraph .nav li:nth-of-type(n+7) {
  margin-bottom: 0;
}

.container-left .wraph .nav li svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  fill: transparent;
}

.container-left .wraph .nav li svg:hover path {
  fill: #0059dd;
}

.container-left .wraph .linesa::before,
.container-left .wraph .linesa::after {
  content: "";
  position: absolute;
  top: 0;
  left: 198px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-left .wraph .linesa::after {
  left: 399px;
}

.container-left .wraph .linesb::before,
.container-left .wraph .linesb::after {
  content: "";
  position: absolute;
  top: 198px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0059dd;
}

.container-left .wraph .linesb::after {
  top: 399px;
}

.container-left .wraph .nav li iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 198px;
  cursor: pointer;
}

.container-left .wrapb .nav li .alpha,
.playinga {
  margin: 0;
}

.container-left .wraph .nav li .beta,
.playingb {
  margin: 0 201px 0;
}

.container-left .wraph .nav li .gamma,
.playingc {
  margin: 0 402px 0;
}

.container-left .wraph .nav li .delta,
.playingd {
  margin: 201px 0 0;
}

.container-left .wraph .nav li .epsilon,
.playinge {
  margin: 201px 201px 0;
}

.container-left .wraph .nav li .zeta,
.playingf {
  margin: 201px 402px 0;
}

.container-left .wraph .nav li .eta,
.playingg {
  margin: 402px 0 0;
}

.container-left .wraph .nav li .theta,
.playingh {
  margin: 402px 201px 0;
}

.container-left .wraph .nav li .iota,
.playingi {
  margin: 402px 402px 0;
}

.container-right .wrapb {
  position: relative;
  height: 266px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-right .wrapb,
.container-right .wrapb::before {
  background: url("https://i.imgur.com/OPi93Ak.png") no-repeat 0 0;
  background-size: 100% 200%;
}

.container-right .wrapb::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 266px;
  height: 266px;
  background-position: 0 -260px;
  background-size: 100% 200%;
  opacity: 0;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  transition: all 2s;
}

.container-right .wrapb.activated::before {
  opacity: 1;
  border: 3px solid #0059dd;
}

.container-right .wrapb .color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 86px;
  width: 88px;
  height: 100%;
  background: black;
  opacity: 1;
  transition: all 2s;
}

.container-right .wrapb.activated .color::before {
  opacity: 0;
}

.container-right .wrapb .play,
.container-right .wrapb .pause,
.container-right .wrapb .speaker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.container-right .wrapb .play,
.container-right .wrapb .pause {
  stroke: #1da1f2;
  stroke-width: 3px;
  fill: transparent;
}

.container-right .wrapb .speaker {
  fill: #1ed760;
}

.container-right .wrapb .lines::before,
.container-right .wrapb .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 83px;
  width: 3px;
  height: 100%;
  background: #0059dd;
  transition: all 2s;
}

.container-right .wrapb .lines::after {
  left: 174px;
}

.container-right .wrapb.activated .lines::before,
.container-right .wrapb.activated .lines::after {
  background: #0059dd;
}

.container-right .wrapc {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-right .wrapc svg {
  vertical-align: top;
}

.container-right .wrapc .playButton {
  float: left;
  width: 83px;
}

.container-right .wrapc .svoefm {
  fill: #aaff00;
}

.container-right .wrapc .soundpark {
  width: 94px;
  fill: #ffaa00;
}

.container-right .wrapc .rcm {
  fill: #ff00aa;
}

.container-right .wrapc .svoefm .play,
.container-right .wrapc .rcm .play {
  margin: 15px 36px;
}

.container-right .wrapc .svoefm .pause,
.container-right .wrapc .rcm .pause {
  margin: 15px 37px;
}

.container-right .wrapc .soundpark .play {
  margin: 15px 41px;
}

.container-right .wrapc .soundpark .pause {
  margin: 15px 42px;
}

.container-right .wrapc .lines::before,
.container-right .wrapc .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 83px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-right .wrapc .lines::after {
  left: 174px;
}

.container-right .wrapd {
  position: relative;
  cursor: pointer;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  background: url("https://i.imgur.com/o3Etf9Z.png") no-repeat center center;
}

.container-right .wrapd svg {
  vertical-align: top;
}

.container-right .wrapd .stack {
  position: relative;
  stroke: #5F6A98;
  stroke-width: 5;
  fill: transparent;
}

.container-right .outer {
  stroke-width: 2;
}

.container-right .wrapd .play,
.container-right .wrapd .pause {
  position: absolute;
  top: -4px;
  left: 4px;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #0059dd;
}

.container-right .wrapd .pause {
  left: 0;
}

.container-right .wrapd .lines::before,
.container-right .wrapd .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 83px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-right .wrapd .lines::after {
  left: 174px;
}

.jacketb {
  position: relative;
  height: 174px;
  cursor: pointer;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-right .jacketb,
.container-right .wrape {
  background: url("https://i.imgur.com/hibXwFj.jpg") no-repeat 0 0;
   background-size: 102.307% 203.571%;
}

.container-right .jacketb .linka {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.container-right .jacketb .linkb {
  fill: #0059dd;
}

.container-right .jacketb .lines::before,
.container-right .jacketb .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 86px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-right .jacketb .lines::after {
  left: 177px;
}

.container-right .wrape {
  position: relative;
  width: 266px;
  overflow: hidden;
  margin: 45px 0 0 0;
  border-radius: 25px;
  background-position: 0 -168px;
  background-size: 100% 196.557%;
}

.container-right .wrape .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-right .wrape .nav li {
  margin: 0;
  padding: 0;
  float: left;
}

.container-right .wrape .nav li a {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 4px 12px 0;
  color: transparent;
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid #0059dd;
  box-sizing: border-box;
}

.container-right .wrape .nav li a:hover {
  border: 3px solid #5c91dd;
}

.container-right .wrape .nav li:nth-of-type(n+11) a {
  margin: 0 4px 0 0;
}

.container-right .wrape .nav li:nth-of-type(5n) a {
  margin-right: 0;
}

.container-right .wrape .nav li:nth-of-type(8) a {
  opacity: 0;
  border: none;
  background: none;
}

.container-right .wrape .nav li:nth-of-type(1) a {
  border-top-left-radius: 25px;
}

.container-right .wrape .nav li:nth-of-type(5) a {
  border-top-right-radius: 25px;
}

.container-right .wrape .nav li:nth-of-type(7) a {
  border: 3px solid #0059dd;
  background: rgba(170, 0, 255, 0.5);
}

.container-right .wrape .nav li:nth-of-type(9) a {
  border: 3px solid #0059dd;
  background: rgba(29, 161, 242, 0.5);
}

.container-right .wrape .nav li:nth-of-type(10) a {
  border: 3px solid #0059dd;
  background: rgba(170, 255, 0, 0.5);
}

.container-right .wrape .nav li:nth-of-type(11) a {
  border: 3px solid #0059dd;
  border-bottom-left-radius: 25px;
  background: rgba(255, 170, 0, 0.5);
}

.container-right .wrape .nav li:nth-of-type(12) a {
  border: 3px solid #0059dd;
  background: rgba(255, 0, 170, 0.5);
}

.container-right .wrape .nav li:nth-of-type(13) a {
  border: 3px solid #0059dd;
  background: rgba(44, 117, 255, 0.5);
}

.container-right .wrape .nav li:nth-of-type(14) a {
  border: 3px solid #0059dd;
  background: rgba(224, 17, 95, 0.5);
}

.container-right .wrape .nav li:nth-of-type(15) a {
  border: 3px solid #0059dd;
  border-bottom-right-radius: 25px;
  background: rgba(243, 243, 21, 0.5);
}

.container-right .wrape .playButton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  fill: #e0115f;
}

.container-right .wrape .play,
.container-right .wrape .pause {
  position: absolute;
  top: 0;
  left: 6px;
  bottom: 0;
  right: 0;
  margin: auto;
}

.container-right .wrape .pause {
  left: 0;
}

.container-right .wrapf {
  position: relative;
  cursor: pointer;
  margin: 45px 0 0 0;
  border-radius: 25px;
  border: 3px solid #0059dd;
  box-sizing: border-box;
  background: url("https://i.imgur.com/K7OzsxI.png") no-repeat 0 0;
  background-size:cover;
}

.container-right .wrapf svg {
  vertical-align: top;
}

.container-right .wrapf .lines::before,
.container-right .wrapf .lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 83px;
  width: 3px;
  height: 100%;
  background: #0059dd;
}

.container-right .wrapf .lines::after {
  left: 174px;
}

.container-right .wrapf .stack {
  position: relative;
  stroke-width: 6px;
  stroke: #89cff0;
}

.container-right .wrapf .play,
.container-right .wrapf .pause {
  position: absolute;
  top: -2px;
  left: 14px;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #f3f315;
}

.container-right .wrapf .pause {
  left: 10px;
}

a:focus {
  outline: 0;
}

.hide {
  display: none;
}
